<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DA's Workout Planner</title>

  <!--tailwind screen utilization with cdn-->
  <script src="https://cdn.tailwindcss.com"></script>

  <!--configuration for coloring on main paige-->
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            primary: '#0077cc',
            hoverPrimary: '#005fa3'
          }
        }
      }
    }
  </script>
</head>
<body class="bg-gray-100 text-gray-800 font-sans p-8">
  {{{body}}}
</body>
</html>
